.build{
  position: relative;
  width: 100%;
  height: 100%;
  .app {
    width:100%;
    height: calc(100% - 45px);
    display: flex;
    box-sizing: border-box;
  }
  .selectall{
    position: absolute;
    border: 1px dotted #409EFF;
    z-index:10000;
  }
  .icon{
    font-size: 20px;
    margin-right: 10px;
  }
  .selectbg{
    width:100%;
    height:100%;
    position: absolute;
    z-index:9999;
  }
  .selectflag{
    width:100%;
    height:100%;
    position: absolute;
    z-index:9999;
    cursor: move;
  }
  .nav{
    border-bottom:0 !important;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
  }
  .nav__icon{
    margin-right: 5px;
  }
  .nav .el-submenu .el-submenu__title,.nav .el-menu-item{
    height: 45px;
    line-height: 45px;
    font-size: 12px;
  }
  .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title{
    font-size: 12px;
  }
  .menu {
    width: 180px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    color:#bcc8d4;
    background: #1d1f26;
  }
  .menu__item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 6px;
    position: relative;
    background: #1b1f25;
    cursor: pointer;
    flex: none;
    font-size: 12px;
  }
  .menu__icon{
    color: #409EFF;
    margin-right: 10px;
    width: 53px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    border: 1px solid #3a4659;
    background: #282a30;
  }
  
  .menu__item:hover {
    color: #fff;
    background: rgba(143,225,255,.1);
    cursor: move;
  }
  
  .menu__item--active {
    background: #409EFF !important;
    color: #373d41 !important;
    
  }
  
  .top{
    padding: 10px 20px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    background-color: rgba(255,255,255,.4);
  }
  .middle{
    background-color: #2a2d32;
    flex:1;
    position: relative;
    height: 100%;
    overflow: auto;
  }
  .wrapper {
    position: relative;
    padding:60px 0 0 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
  .content{
    transform-origin: 0 0;
    background-color: #333;
    position: relative;
    box-sizing: border-box;
  }
  .footer__menu{
    padding-top: 8px;
    margin-right:370px;
    float: right;
    width:300px;
  }
  .app--none{
    padding: 0;
    height:100%;
  }
  .app--none .wrapper{
    position: relative;
    padding: 0;
    width: 100%;
  }
  .app--none .content{
    width: 100%;
    height: 100%;
    border:none;
  }
  .contentmenu{
    width: 160px;
    position: fixed;
    z-index: 99999;
    list-style: none;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    padding: 0;
    background: #27343e;
    color: #bcc9d4;
  }
  .contentmenu__item{
    z-index:10000;
    list-style: none;
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
    font-size: 12px;
  }
  .contentmenu__item:hover{
    background-color: rgba(0,192,222,.1);
  }
  .contentmenu__item i{
    margin-right: 5px;
  }
  .contentmenu__item :first-child{
     padding-top: 5px;
  }
  .container {
    user-select: none;
    transform-origin: 0 0;
    position: relative;
  }
  
  .grade {
    width: 100%;
    height: 100%;
    background-size: 30px 30px, 30px 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 0px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .wrapper__grade{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: url(https://img.alicdn.com/tfs/TB184VLcPfguuRjSspkXXXchpXa-14-14.png) repeat;
  }
  
  .title {
    margin-bottom: 10px;
    line-height: 35px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 2px;
    background-color:#2d343c;
    color:#a1adb9;
  }
  
  .params {
    width: 350px;
  }
  
  
  
  
  
  
  
  .tabs{
    margin-top: -10px;
    box-sizing: border-box;
  }
  .tabs .el-tabs__header{
    background: #27343e;
  }
  .tabs i{
    color: #bcc9d4;
  }
  .tabs .is-active i{
    color: #409EFF;
  }
  .tabs .el-tabs__nav-wrap::after{
    background: #27343e;
  }
  .tabs .el-tabs__item{
    padding: 0;
    box-sizing: border-box;
  }
  .tabs .el-tabs__active-bar{
    top:0;
  }
  .tabs .el-tabs__content{
    padding: 0 10px;
  }
  
  .imgList{
    height:350px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .imgList img{
    width: 100px;
    height: 100px;
    margin: 20px 10px ;
  }  
}
